<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitVersionTask" version="3.4.1" targetFramework="net45" developmentDependency="true" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net35" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net35" />
</packages>